/* We start with the spatial history assignment */
:root {
    /* variable to control widths in one place */
    /* we set it here and then again in our media queries */
    /* This means we can generally only see 2 plugins on the screen at once! */
    --default-width: 50%;
    box-sizing: border-box;
}

.main-container {
    grid-template-areas: "intro popcorn" "main main";
    grid-auto-columns: 1fr;
    grid-template-rows: 50vh 1fr;
}

section#intro {
    grid-area: intro;
    background-color: var(--color-highlight1);
    border: 1px solid var(--color-custom-borders);
}

/* popcorn event container: 
   - make it a flexbox container
   - add events horizontally, but allow wrapping when too wide
   - overflow-y scroll so we don't overwrite other elements
   - don't grow too big
 */
aside#popcorn-container {
    grid-area: popcorn;
    background-color: var(--color-highlight2);
    border: 1px solid var(--color-custom-borders);
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-wrap: wrap;
    max-height: 100%;
    /* space things out! */
    justify-content: space-around;
}

aside#popcorn-container > * {
    /* default base width for plugins */
    flex-basis: var(--default-width);
    flex-shrink: 1;
    flex-grow: 1;
}


/* most of the plugins will create divs or other elements w/ class "pluginname-plugin" */
/* here's one example of styling particular plugins differently from others */
#popcorn-container figure.figure-plugin {
    /* an example of setting the figure as a bit larger than the others.  */
    flex-basis: calc(var(--default-width)*4/3);
    max-width: 100%;
}

#popcorn-container .leaflet-plugin, #popcorn-container .googlemap-plugin {
    /* make these full-width by default */
    flex-basis: 100%;
}

/* you can also use the `id` column to address *most* plugins (but not all!) */

section#maintext {
    grid-area: main;
    background-color: var(--color-highlight1);
    border: 1px solid var(--color-custom-borders);
}


@media only screen and (max-width:1199px) {
    .main-container {
        grid-template-areas: "popcorn" "intro" "main";
        --default-width: 100%;
        grid-template-rows: minmax(200px,auto);
    }
    
}


@media only screen and (min-width:1200px) and (max-width:1500px) {
    .main-container {
        --default-width: 20em;
    }
    
}




