


/* AUDIO PLAYER */
#media {
    border: 4px solid #880000;
    width: 100%;
    margin: 15px 0;
    box-shadow: rgba(0,0,0, .5) 0 0 5px;
}

/* SIDEPANEL */
.sidepanel {
   margin: 15px;
   float: right;
}

